<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.test.nfctests" >

    <uses-permission
        android:name="android.permission.NFC" />

    <uses-feature
        android:name="FEATURE_NFC_HOST_CARD_EMULATION"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nfc_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NfcMainApp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
